#all-posts {
  grid-column-start: 2;
}

/* CSS rule sets for individual post starts here */
.post {
  display: flex;
  flex-direction: column;
  /* FIX: change this color */
  background: green;
  position: relative;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
}

.post--info {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4em;
  margin-bottom: 0.8em;
}

.post--info-subreddit,
.post--info-meta .post--info-meta-author {
  font-size: 0.8em;
  opacity: 0.6;
}

.post--info-subreddit {
  position: relative;
  /* since the size is smaller by 0.2em, top has to go by 0.4em to align the base*/
  top: 0.4em;
}

.post .post--action {
  display: flex;
  gap: 1em;
}

.post--action .btn {
  transform: translateY(0.1em);
}

.post--action > div {
  margin-top: 1em;
  display: flex;
  align-items: center;
  gap: 0.3em;
  padding: 0.1rem 0.7rem;
  border-radius: 1rem;
  border: 1px solid blue;
}

.post--action .vote {
  /* FIX: Change colors once refactored CSS */
  margin-right: 1rem;
}

.vote .down {
  top: 0;
  transform: translateY(-0.12em) rotate(180deg);
}
@media only screen and (min-width: 481px) {
  .post {
    width: 40vw;
    min-width: 30rem;
  }
}

/* CSS rule sets for individual post ends here */
