.App {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
  background-color:#000719;
  color: white;
}
.main-container{
  display:inline-grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto;
  margin-top: 3.5rem;
  min-height: 40rem;
  width: 100%;
  height: auto;
}

