.App {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
  background-color:#000719;
  color: white;
}
.main-container{
  margin-top: 40px;
  min-height: 40rem;
  height: auto;
}

