.App[data-theme='dark'] {
  --background: #0e0e28;
  --background-darker: #000719;
  --foreground: #ffffff;
  --border-color: #303030;
  --accent-main: #222277;
  --accent-secondary: #1a1a4a;
}

.App[data-theme='light'] {
  --background: hsl(0deg 0% 100%);
  --background-darker: hsl(0deg 0% 98%);
  --foreground: hsl(0deg 10% 20%);
  --border-color: hsla(0deg, 0%, 40%, 40%);
  --accent-main: hsl(240deg, 65%, 60%);
  --accent-secondary: #1a1a4a;
}

.App {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
  background-color: var(--background-darker);
  color: var(--foreground);
}
.main-container {
  display: inline-grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 3fr 1fr;
  grid-auto-rows: max-content;
  gap: 1rem;
  margin: 4.5rem 1rem;
  min-height: 40rem;
  width: 100%;
  height: auto;
}

/* loading circle */
.loader {
  margin-left: 50%;
  margin-top: 50%;
  border-top: 0.2rem dotted var(--background-darker);
  border-bottom: 0.2rem dashed var(--border-color);
  border-right: 0.2rem dotted var(--border-color);
  border-left: 0.2rem solid var(--border-color);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
