.SearchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 30%;
  min-width: 10rem;
}

.SearchBar input {
  color: var(--foreground);
  height: 1.5rem;
  width: 100%;
  border: none;
  border-radius: 20px;
  background-color: var(--background-darker);
  margin: auto;
  padding: 0 0 0 1em;
  border: 1px solid var(--border-color);
}

.SearchBar {
  position: relative;
}

.SearchBar svg {
  width: 1rem;
  color: var(--foreground);
  stroke: var(--foreground);
}

.SearchBar svg path {
  stroke: var(--foreground);
}

.SearchBar button {
  position: absolute;
  width: 2rem;
  top: 0;
  bottom: 0;
  right: -3px;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  color: white;
  border: none;
  transition: background-color 150ms linear !important;
}

.SearchBar button.has-text {
  background-color: var(--accent-main);
}
