.Header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 3.5rem;
  color: white;
  background-color: #0e0e28;
  border: 1px solid #303030;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  align-items: center;
  z-index: 900;
}

.Header #logo {
  background-color: #222277;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 50%;
  margin-left: 1%;
}

.Header .app-logo {
  width: 1rem;
}
