#Trending{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 5;
    grid-column: 1;
    text-align: center;
    
}

#title-container{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
#Trending h2 {
    margin-bottom:1rem;
}
.trending-icon{
    margin-bottom:.6rem;
    margin-left: .3rem;
    width: 1.5rem;
    z-index: 100;
}
/* style for individual posts */
.Trending-post-container{
    display: flex;
    justify-content: center;
    grid-column: 1;
    grid-row-start: 1;
    margin: 0rem 1rem 1rem;
}
.Trending-post-container a {
    color: white;
}

.TrendingPost{
    display: flex;
    flex-direction: column;
    border: 1px solid #303030;
    background-color: #0e0e28;
    height: 12rem;
    width: 12rem;
    border-radius: 1rem;
    justify-content: center;
}

.TrendingPost .trendingPost--info-subreddit{
    opacity: .6;
    margin:auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
    z-index: 2;
    color: white;
}
.TrendingPost .trendingPost--info-title {
   text-align: center;
   margin: auto 1rem 1rem 1rem;
   color: white;
   z-index: 1;
}

/*.TrendingPost img {
    position: absolute;
    height: 11.9rem;
    width: 11.9rem;
    border-radius: 1rem;
} this was a test to put images in trending */
/* changes when interacted with */
.TrendingPost:hover{
    box-shadow:0.25rem 0.25rem .5rem #303030;
    margin-right:.25rem;
    border-color: #1a1a4a;
}
.TrendingPost:active{
    background-color: #1a1a4a;
}

