.Trending{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    font-size: 5;
}

.TrendingPost{
    display: flex;
    flex-direction: column;
    background-color: black;
    border: 2px white solid;
    grid-column: 1;
    grid-row-start: 1;
    border: 1px solid #303030;
    background-color: #0e0e28;
    border-radius: 1rem;
}

.TrendingPost #subreddit{
    margin-left: 0.3rem;
    margin-top: .1rem;
}